rapidfuzz==3.11.0
huggingface_hub==0.25.1
importlib_metadata==8.0.0
ipython==8.12.3
opencv_python==4.10.0.84
pdf2image==1.17.0
psutil==6.0.0
PyYAML==6.0.2
regex==2024.9.11
tesserocr==2.7.1
torch==2.8.0+cu118
tqdm==4.66.3
transformers==4.51.0
