<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">

    <script>
        const css_href="{{html_conf['css']}}";
        const break_regex_str = "{{html_conf['insert_break_regex']}}";
        const break_regex = break_regex_str !== "" ? new RegExp(break_regex_str) : "";
        const break_message = "{{html_conf['break_message']}}";
        {{js|safe}}
        {{postjs|safe}}
    </script>
    <style>
        {{css|safe}}      
    </style>
</head>
<body draggable="false"  ondragstart="return false;" ondrop="return false;">
    <div class="helphead">
        <input type="file" id="hocrInput" onchange="uploadHocr(event)" style="display:none" accept=".html">
        <button type="button" onclick="document.getElementById('hocrInput').click()" class="button process">⭱ Учитај</button>
        <button type="button" onclick="getHocr('{{filename}}')" class="button process">⭳ Сачувај</button>
        <button type="button" onclick="getText('{{filename}}')" class="button process">⭳ Текст</button>
        <button type="button" onclick="getHtml('{{filename}}')" class="button process">⭳ ХТМЛ</button>
    </div>
        <div class="overlay" id="overlay" onclick="hidePopup()"></div>
        <div class="popup" id="popup" onclick="hidePopup()" style="display: none;">
            <canvas id="canvas" onclick="hidePopup()" style="max-width: 100%;"></canvas>
        </div>
        <div id="popup_settings_hocr" class="popup">
            <div class="popup-content">
              <span class="close-button" id="closePopupButton"  onclick="closehocrsettings()">&times;</span>
              
              <label for="topconfSlider">Граница поузданости: </label>
              <input type="range" id="topconfSlider" min="0" max="1" step="0.01" value="0.94">
              <span id="topconfValue">0.94</span>
          
              <br><br>
          
              <label for="saturationSlider">Сатурација маркера: </label>
              <input type="range" id="saturationSlider" min="0" max="1" step="0.01" value="0.5">
              <span id="saturationValue">0.5</span>
          
              <br><br>
            </div>
          </div>
          
    <div class="helpmain main" id="full_hocr" draggable="false"  style="padding-left: 20pt;">

        <div id="imagesData" style="display:none;" data-images='{{ images | tojson | safe }}'></div>

        <div style="display:flex"> 
            <div id="ImgCont" style="display:block;">
                <div id="SaveimagesData" style="display:block;"  draggable="false" ondragstart="return false;" ondrop="return false;">
                    <img id="loading" src="{{ url_for('static', filename='load.gif') }}" style="display: none;" alt="Loading...">
                    <canvas id="overlayCanvas" class="overlay-canvas"></canvas>
                </div>
            </div>
            <div id="digiteks_hocr_content" draggable="false" ondragstart="return false;" ondrop="return false;">
                <div class=meni>
                    <button id="openPopupButton" onclick="openhocrsettings()" class="menubutton" title="Отвори подешавања" style="float: right;">⚙</button>
                    <button class="menubutton" title="Помери горе" onclick="MoveUp()">↑</button>
                    <button class="menubutton" title="Помери доле" onclick="MoveDown()">↓</button>
                    <button class="menubutton" title="Одчекирај" onclick="Uncheck()">☐</button>
                    <button class="menubutton" title="Замени текст сликом" onclick="Figurize()">🖻</button>
                    <button class="menubutton" title="Обриши" onclick="deleteCheckedElements()">␡</button>
                    <button class="menubutton" title="Обележи као добро" onclick="VerifyBulk()">✓</button>
                    <button class="menubutton" title="Додај прелом иза" onclick="add_break()">↸</button>
                    <button class="menubutton" title="Корак уназад" onclick="undo()">↩</button>
                    <button class="menubutton" title="Корак унапред" onclick="redo()">↪</button>
                </div>
            </div>
        </div>
        <script>
            window.onload = function() {
                const pages = document.querySelectorAll('.ocr_page');
                pages.forEach(page => {
                    originalContents.set(page.id, page.innerHTML);
                });
                pages.forEach(page => {
                    historyMap.set(page.id, [page.innerHTML]);
                    redoMap.set(page.id, []);
                });
                
                const imagesDataElement = document.getElementById('imagesData');
                const loadingGif = document.getElementById('loading');
                document.querySelectorAll('#SaveimagesData').forEach(setupZoomAndDrag);
                stream_ocr('{{lang}}', loadingGif, imagesDataElement);       
            }

            function getAlignmentClass(align) {
                const cmap = new Map();
                {% for x in html_conf%}
                cmap.set('{{x}}', '{{html_conf[x]}}');
                {%endfor%}
                for (let [k, v] of cmap) {
                    if (k === align) { 
                        return v; 
                    }
                }  
            return align;

            
        }
        </script>
    </div>
</body>
</html>