<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <script src="{{url_for('static', filename='hocr.js')}}"></script>

    <script>
        
        function handleStreaming(sessionId, loadingGif, images, imagesDataElement) {
            const eventSource = new EventSource(`/stream/${sessionId}`);

            eventSource.onmessage = function(event) {
                const data = JSON.parse(event.data);
                const resultElement = document.createElement('div');
                resultElement.innerHTML =  data.html;

                // Append the result to the digiteks_hocr_content element
                const resultsDiv = document.getElementById('digiteks_hocr_content');
                prepare(resultElement)
                resultsDiv.appendChild(resultElement);

                const pages = resultElement.querySelectorAll('.ocr_page');

                pages.forEach(page => {
                    originalContents.set(page.id, page.innerHTML);
                });
        
                // Remove the processed image from the images data
                images.shift();
                imagesDataElement.dataset.images = JSON.stringify(images);

                // Remove the hidden div containing images data when all images are processed
                if (images.length === 0) {
                    loadingGif.style.display = 'none';
                    eventSource.close();
                    const imagesDataDiv = document.getElementById('imagesData');
                    imagesDataDiv.remove();
                }
            };

            eventSource.onerror = function(event) {
                console.error('EventSource error:', event); // Debugging: Print error event
                // Hide the loading GIF when done or on error
                loadingGif.style.display = 'none';
                eventSource.close();

                // Remove the hidden div containing images data
                const imagesDataDiv = document.getElementById('imagesData');
                imagesDataDiv.remove();
            };
        }

        function stream_ocr(lang, loadingGif, imagesDataElement ) {

            if (imagesDataElement){
                let images = JSON.parse(imagesDataElement.dataset.images);
                loadingGif.style.display = 'block';
                // Send the images data to the /start_ocr endpoint
                fetch(`/ocr/${lang}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ images: images })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Start OCR response:', data); // Debugging: Print start OCR response
                    if (data.status === 'OCR started') {
                        handleStreaming(data.session_id, loadingGif, images, imagesDataElement);
                    }
                })
                .catch(error => {
                    console.error('Fetch error:', error); // Debugging: Print fetch error
                    loadingGif.style.display = 'none';
                });
            }
            else{
                loadingGif.style.display = 'none';
            }
        }

        const lc = '.ocr_line, .ocr_caption, .ocr_textfloat, .ocr_header, .ocr_image';
        function handleTextChange(event) {
            const oldValue = event.target.dataset.original.trim();
            const newValue = event.target.innerText.trim();
            if (oldValue != newValue){
                event.target.style  = "--red:0; --conf:0; --blue: 0";
            }
            else{
                event.target.style  = "--red:255; --conf:1; --blue: 0";
            }
            const parentPage = event.target.closest('.ocr_page'); 
            if (parentPage) {
                saveCurrentState(parentPage);
            }
        }

        function openhocrsettings(event){
            const popup = document.getElementById('popup_settings_hocr');
            const topconfSlider = document.getElementById('topconfSlider');
            const saturationSlider = document.getElementById('saturationSlider');
            const topconfValue = document.getElementById('topconfValue');
            const saturationValue = document.getElementById('saturationValue');
            
            topconfSlider.addEventListener('input', function () {
                const value = topconfSlider.value;
                document.documentElement.style.setProperty('--topconf', value);
                topconfValue.textContent = value; // Show the value next to the slider
            });

            saturationSlider.addEventListener('input', function () {
                const value = saturationSlider.value;
                document.documentElement.style.setProperty('--saturation', value);
                saturationValue.textContent = value; // Show the value next to the slider
            });
            popup.style.display = 'block';
        }

        function closehocrsettings(event){
            const popup = document.getElementById('popup_settings_hocr');
            popup.style.display = 'none';
        }

        function getSelected(){
            var lines = document.querySelectorAll(lc);
            var elements = [];
            lines.forEach(function(line) {
                var checkbox = line.querySelector('input[type="checkbox"]');
                if (checkbox && checkbox.checked) {
                    elements.push(line);
                }
            });

            const areas = new Map();
            elements.forEach(element => {
            const parentArea = element.closest('.ocr_par');
            if (parentArea) {
                if (!areas.has(parentArea)) {
                    areas.set(parentArea, []);
                }
                areas.get(parentArea).push(element);
            }
            });
            return [elements, areas];
        }

        function checkall(event){
            const childCheckboxes = event.target.parentElement.querySelectorAll('.dynamic-checkbox');

            childCheckboxes.forEach(childCheckbox => { childCheckbox.checked = event.target.checked;});
        }
        
        function MoveUp() {

            spans = getSelected();
            elements = spans[0];
            areas = spans[1];

            areas.forEach((selectedLines, area) => {
                const allLines = Array.from(area.querySelectorAll(lc));
                var parcheckbox = area.querySelector('.par-checkbox');
                if (selectedLines.length === allLines.length && parcheckbox && parcheckbox.checked) {
                    // If all lines are selected, move the entire '.ocr_par'
                    const prevArea = area.previousElementSibling;
                    if (prevArea && prevArea.classList.contains('ocr_par')) {
                        area.parentNode.insertBefore(area, prevArea);
                    }
                } else {
                    // If not all lines are selected, move selected lines within the '.ocr_par'
                    selectedLines.forEach(line => {
                    const prevSibling = line.previousElementSibling;
                    if (prevSibling && prevSibling.tagName.toLowerCase()=="span") {
                        area.insertBefore(line, prevSibling); // Switch with previous sibling
                    } else {
                        const prevArea = area.previousElementSibling;
                        if (prevArea && prevArea.classList.contains('ocr_par')) {
                            prevArea.appendChild(line); // Move to the end of the previous '.ocr_par'
                        }
                    }
                });
                }
            });
        }

        function MoveDown() {
            spans = getSelected();
            elements = spans[0];
            areas = spans[1];

            areas.forEach((selectedLines, area) => {
                const allLines = Array.from(area.querySelectorAll(lc));
                var parcheckbox = area.querySelector('.par-checkbox');
                if (selectedLines.length === allLines.length && parcheckbox && parcheckbox.checked) {
                    // If all lines are selected, move the entire '.ocr_par'
                    const nextArea = area.nextElementSibling;
                    if (nextArea && nextArea.classList.contains('ocr_par')) {
                        area.parentNode.insertBefore(nextArea, area);
                    }
                } else {
                    // If not all lines are selected, move selected lines within the '.ocr_par'
                    selectedLines.forEach(line => {
                        const nextSibling = line.nextElementSibling;
    
                        if (nextSibling && nextSibling.tagName.toLowerCase()=="span") {
                            area.insertBefore(nextSibling, line); // Switch with next sibling
                        } else {
                            const nextArea = area.nextElementSibling;
                            if (nextArea && nextArea.classList.contains('ocr_par')) {
                                nextArea.insertBefore(line, nextArea.firstChild); // Move to the beginning of the next '.ocr_par'
                            }
                        }
                    });
                }
            });

        }

        function MaybeDelete(){
        if (event.key === 'Delete') { 
            event.preventDefault();
            event.target.innerHTML = "";
            }
        }

        const originalContents = new Map();
        const historyQueue = [];
        const redoQueue = [];
        
        const pages = document.querySelectorAll('.ocr_page');
        pages.forEach(page => {
            originalContents.set(page.id, page.innerHTML);
        });

        pages.forEach(page => {
            historyMap.set(page.id, [page.innerHTML]);
            redoMap.set(page.id, []);
        });



        // Function to save the current state
        function saveCurrentState(page) {
   
            historyQueue.push({
                id: page.id,
                newValue: [page.innerHTML]
            });
            redoQueue.length = 0; 
            if (historyQueue.length > 10) {
                historyQueue.shift(); 
            }
        }

        function undo() {
            if (historyQueue.length > 0) {
                const lastChange = historyQueue.pop();
                redoQueue.push(lastChange);
                const page = document.getElementById(lastChange.id);
                const originalValue = originalContents.get(lastChange.id);
                page.innerHTML = originalValue; // Restore the original state
                originalContents.set(lastChange.id, originalValue); // Reset original state
                // Apply remaining changes
                historyQueue.forEach(change => {
                    if (change.id === lastChange.id) {
                        page.innerHTML = change.newValue;
                    }
                });
            }
        }

        function redo() {
            if (redoQueue.length > 0) {
                const lastRedo = redoQueue.pop();
                historyQueue.push(lastRedo);
                const page = document.getElementById(lastRedo.id);
                page.innerHTML = lastRedo.newValue;
            }
        }

        function Uncheck() {
            const checkboxes = document.querySelectorAll('.dynamic-checkbox');
            checkboxes.forEach(checkbox => { checkbox.checked = false; }); 
        }


        function Figurize() {
            var spans = getSelected();
            var elements = spans[0];
            var areas = Array.from(spans[1].keys());

            var x1s = [];
            var x2s = [];
            var y1s = [];
            var y2s = [];
            var image_ids = [];

            areas.forEach(function(element) {
                var x1 = element.getAttribute('x1');
                var x2 = element.getAttribute('x2');
                var y1 = element.getAttribute('y1');
                var y2 = element.getAttribute('y2');
                var image_id = element.getAttribute('image_id');
                
                if (x1 !== null) {
                    x1s.push(x1);
                }
                if (x2 !== null) {
                    x2s.push(x2);
                }
                if (y1 !== null) {
                    y1s.push(y1);
                }
                if (y2 !== null) {
                    y2s.push(y2);
                }
                if (image_id !== null) {
                    image_ids.push(image_id);
                }
            });

            const allSameImageId = image_ids.every((val, i, arr) => val === arr[0]);
    
            if (!allSameImageId) {
                alert('Сви параграфи морају бити са исте стране.');
                return;
            }
            
            const image_id = image_ids[0];
            const min_x1 = Math.min(...x1s);
            const min_y1 = Math.min(...y1s);
            const max_x2 = Math.max(...x2s);
            const max_y2 = Math.max(...y2s);

            var originalImg = document.getElementById(image_id);
            // Create a canvas to crop the image
            var canvas = document.createElement('canvas');
            var ctx = canvas.getContext('2d');

            // Set canvas dimensions to the crop size
            canvas.width = max_x2 - min_x1;
            canvas.height = max_y2 - min_y1;

            // Draw the cropped image onto the canvas
            ctx.drawImage(originalImg, min_x1, min_y1, canvas.width, canvas.height, 0, 0, canvas.width, canvas.height);

            // Get the cropped image data URL
            var croppedImageSrc = canvas.toDataURL('image/jpeg');

            // Create new img element with the cropped image as src
            var newImg = document.createElement('img');
            newImg.src = croppedImageSrc;
            
            // Create a new span element with class="ocr_par"
            var newSpan = document.createElement('span');
            var newLine = document.createElement('span');
            newSpan.className = 'ocr_par';
            newLine.className = 'ocr_image';
            newSpan.setAttribute('x1', min_x1);
            newSpan.setAttribute('y1', min_y1);
            newSpan.setAttribute('x2', max_x2);
            newSpan.setAttribute('y2', max_y2);

            const checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.className = 'dynamic-checkbox';
            newLine.style.position = 'relative';

            const checkbox2 = document.createElement('input');
            checkbox2.type = 'checkbox';
            checkbox2.className = 'dynamic-checkbox par-checkbox';

            newLine.insertBefore(checkbox, newLine.firstChild);
            newSpan.insertBefore(checkbox2, newSpan.firstChild);

            newLine.appendChild(newImg);
            newSpan.appendChild(newLine);
            newSpan.setAttribute("onclick", "checkall(event)");
            areas.forEach(function(element, index) {
                if (index === 0) {
                    element.parentNode.replaceChild(newSpan, element);
                } else {
                    element.remove();
                }
            });
        }

        function deleteCheckedElements() {
            spans = getSelected();
            elements = spans[0];
            areas = spans[1];

            areas.forEach((selectedLines, area) => {
                const allLines = Array.from(area.querySelectorAll(lc));
                if (selectedLines.length === allLines.length) {
                    area.remove();
                } else {
                    selectedLines.forEach(line => {
                        line.remove();
                    });
                }
            });
        }

        function VerifyBulk() {
            spans = getSelected();
            elements = spans[0];
            areas = spans[1];

            elements.forEach(line => {
                const words = line.querySelectorAll('.ocrx_word');
                words.forEach(word => {
                    word.style  = "--red:255; --conf:1";
                });
            });
        }
        
        function showPopup(image_id, x1, x2, y1, y2) {
            if (x1 && x2 && y1 && y2 && image_id){
                var img = document.getElementById(image_id);
                var canvas = document.getElementById('canvas');
                var ctx = canvas.getContext('2d');

                var cropWidth = x2 - x1;
                var cropHeight = y2 - y1;
                canvas.width = cropWidth;
                canvas.height = cropHeight;
                var image = new Image();
                image.src = img.src;
                image.onload = function() {
                    ctx.drawImage(image, x1, y1, cropWidth, cropHeight, 0, 0, cropWidth, cropHeight);
                };

                document.getElementById('overlay').style.display = 'block';
                document.getElementById('popup').style.display = 'block';
            }
        }

        function hidePopup() {
            document.getElementById('overlay').style.display = 'none';
            document.getElementById('popup').style.display = 'none';
        }

        function showPopupevent(event) {
                const parent = event.target.parentElement;
                const image_id = parent.getAttribute('image_id');
                const x1 = parent.getAttribute('x1');
                const x2 = parent.getAttribute('x2');
                const y1 = parent.getAttribute('y1');
                const y2 = parent.getAttribute('y2');
                showPopup(image_id, x1, x2, y1, y2);
        }
    </script>
    <style>
        :root {
            --topconf: 0.94;
            --saturation: 0.5;
            --blue : 0;
        }
        .ocr_separator {
            border: 2px solid black;
        }

        .ocr_par {
            border: 1px solid gray;
            margin-top: 2px;
        }

        .ocr_image img{
            max-width:85vw;
        }

        .ocr_line:after, .ocr_caption:after, .ocr_textfloat:after, .ocr_header:after {
            content: '\A';
            white-space: pre;
        }

        .ocrx_word {
            background-color: rgba(var(--red), 255, var(--blue), calc((1 - (var(--conf) / var(--topconf))) * 5 / var(--saturation)));
            caret-color: black; /* Set caret color */
            color: black; /* Ensure text color is black */
            position: relative;
            display:inline-block
        }

        *[del-candidate="yes"] {
            background-color: rgb(210, 102, 90);
        }


        input[type="range"] {
            width: 80%;
        }

        .dynamic-checkbox{
            display: inline-block !important;
            visibility: visible !important;
        }

        .par-checkbox{
            width: 12pt;
            height: 12pt;
            margin-left: -23px;
        }

        .menubutton{
            width: 20pt;
            height: 20pt;
        }

        .meni
            {margin-bottom: 10pt;
            position: sticky;
            top: 0;
            padding: 5pt;
            background-color: beige;
            z-index: 100;
        }
        .ocrx_word::focus {
            background-color:white
        }

        #loading {
            
            filter: invert(100%); /* Invert colors for the loading GIF */
        }
    </style>
</head>
<body draggable="false"  ondragstart="return false;" ondrop="return false;">
    <div class="helphead">
        <input type="file" id="hocrInput" onchange="uploadHocr(event)" style="display:none" accept=".html">
        <button type="button" onclick="document.getElementById('hocrInput').click()" class="button process">⭱ Учитај</button>
        <button type="button" onclick="getHocr('{{filename}}')" class="button process">⭳ Сачувај</button>
        <button type="button" onclick="getText('{{filename}}')" class="button process">⭳ Текст</button>
        <button type="button" onclick="getHtml('{{filename}}')" class="button process">⭳ ХТМЛ</button>
    </div>
        <div class="overlay" id="overlay" onclick="hidePopup()"></div>
        <div class="popup" id="popup" onclick="hidePopup()">
            <canvas id="canvas" onclick="hidePopup()" style="max-width: 100%;"></canvas>
        </div>
        <div id="popup_settings_hocr" class="popup">
            <div class="popup-content">
              <span class="close-button" id="closePopupButton"  onclick="closehocrsettings()">&times;</span>
              
              <label for="topconfSlider">Граница поузданости: </label>
              <input type="range" id="topconfSlider" min="0" max="1" step="0.01" value="0.94">
              <span id="topconfValue">0.94</span>
          
              <br><br>
          
              <label for="saturationSlider">Сатурација маркера: </label>
              <input type="range" id="saturationSlider" min="0" max="1" step="0.01" value="0.5">
              <span id="saturationValue">0.5</span>
          
              <br><br>
            </div>
          </div>
          
    <div class="helpmain main" id="full_hocr" draggable="false"  style="padding-left: 20pt;">
        <div class=meni>
            <button id="openPopupButton" onclick="openhocrsettings()" class="menubutton" title="Отвори подешавања" style="float: right;">⚙</button>
            <button class="menubutton" title="Помери горе" onclick="MoveUp()">↑</button>
            <button class="menubutton" title="Помери доле" onclick="MoveDown()">↓</button>
            <button class="menubutton" title="Одчекирај" onclick="Uncheck()">☐</button>
            <button class="menubutton" title="Замени текст сликом" onclick="Figurize()">🖼</button>
            <button class="menubutton" title="Обриши" onclick="deleteCheckedElements()">␡</button>
            <button class="menubutton" title="Обележи као добро" onclick="VerifyBulk()">✓</button>
            <button class="menubutton" title="Корак уназад" onclick="undo()">↩</button>
            <button class="menubutton" title="Корак унапред" onclick="redo()">↪</button>
        </div>

        <!-- Hidden div to store the images data -->
        <div id="imagesData" style="display:none;" data-images='{{ images | tojson | safe }}'></div>
        <div id="digiteks_hocr_content">
        </div>
        <img id="loading" src="{{ url_for('static', filename='load.gif') }}" style="display: none;" alt="Loading...">
        <script>
            window.onload = function() {
                const imagesDataElement = document.getElementById('imagesData');
                const loadingGif = document.getElementById('loading');
                stream_ocr('{{lang}}', loadingGif, imagesDataElement);
            }
        </script>
    </div>
</body>
</html>