<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
    <script src="{{url_for('static', filename='hocr.js')}}"></script>
    <script>
        function help(){
            document.getElementById('if').src = "/help";
        }

        function dwn(x, mime, ext){
            var base64doc = btoa(unescape(encodeURIComponent(x))),
            a = document.createElement('a'),
            e = new MouseEvent('click');

            a.download = '{{filename}}' + ext;
            a.href = 'data:' + mime + ';base64,' + base64doc;
            a.dispatchEvent(e);
        }

        function getHocr(){
            alert("sadas");
            var html = document.getElementById("full_hocr")
            var x = html.innerHTML;
            dwn(x, "text/xml", ".html");
        }

        function getHtml(){
            var html = document.getElementById("full_hocr")
            var x = html.innerHTML;
            dwn(x, "text/xml", ".html");
        }

        function getText(){
            var html = document.getElementById("full_hocr")
            var x = html.textContent;
            x = x.replace(/\s\s+/g, ' ');
            dwn(x, "text/plain", ".txt");
        }

    </script>
</head>
<body draggable="false">
    <div class="helphead">
        <button type="button" onclick="getHocr()" class="button process">Преузми ХОЦР</button>
        <button type="button" onclick="getText()" class="button process">Преузми Текст</button>
        <button type="button" onclick="getHtml()" class="button process">Преузми ХТМЛ</button>
    </div>
    <div class="helpmain main" id="full_hocr" draggable="false">
        {% for x in data %}
            {{x|safe}}
        {% endfor %}
    </div>
</body>
</html>