<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <script src="/static/hocr.js"></script>
    <script>
        function help(){
            document.getElementById('if').src = "/help";
        }
    </script>

<script>
    function uploadHocrhelp(event){
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {

                const parser = new DOMParser();
                const doc = parser.parseFromString(e.target.result, 'text/html');
                const newContent = doc.querySelector('#digiteks_hocr_content');
                if (newContent) {
                    var form = document.createElement('form');
                    form.method = 'post';
                    form.action = '/posthere'; // Set this to your desired action URL
                    form.enctype = 'multipart/form-data'; // Set the encoding type for file upload
                    form.target = '_self'; // Set target to the current window

                    // Create a file input to hold the file
                    var input = document.createElement('input');
                    input.type = 'file';
                    input.name = 'file';
                    input.files = event.target.files; // Assign the uploaded file to the input

                    // Append the input to the form and submit the form
                    form.appendChild(input);
                    document.body.appendChild(form);
                    form.submit();
    
                } else {
                    console.error('Element with id #digiteks_hocr_content not found in the uploaded file.');
                }
            };
            reader.readAsText(file);
        }
    }
</script>
</head>
<body>
    <div class="helphead">
        <input type="file" id="hocrInput" onchange="uploadHocrhelp(event)" style="display:none" accept=".html">
        <button type="button" onclick="document.getElementById('hocrInput').click()" class="button process">⭱ Учитај</button>
    </div>
    <div id="temphtml"></div>
    <div class="helpmain main">
        <h4 id="-">ДигиТекс је вишеплатформна апликација за дигитализацију докумената на српском језику, заснована на оптичком препознавању карактера (и језичким моделима*).</h4>
<h4 id="-https-poppler-freedesktop-org-https-github-com-tesseract-ocr-tesseract-355-https-huggingface-co-jerteh-jerteh-355-">Документ који је предмет дигитализације се најпре трансформише у слику помоћу <a href="https://poppler.freedesktop.org/">Поплера</a>, док је за препознавање текста на слици задужен <a href="https://github.com/tesseract-ocr/tesseract">Гугл Тесеракт</a>. (Коначно, текст се обрађује језичким моделом за српски језик, <a href="https://huggingface.co/jerteh/Jerteh-355">јертех355</a>, што омогућава прецизније одређивање вероватноће сваке речи у контексту, као и аутоматско исправљање лоше рашчитаног текста.*)</h4>
<h4 id="-https-flask-palletsprojects-com-_-_-_-_-3-12-https-www-python-org-downloads-release-python-3120-">Дигитекс се може покретати као <a href="https://flask.palletsprojects.com/">Фласк</a> веб апликација на рачунарима са <em>Виндоус</em> и <em>Виндоус сервер</em> оперативним системима, за шта је неопходно инсталирати <a href="https://www.python.org/downloads/release/python-3120/">Пајтон 3.12</a>, или се може скинути и покренути компајлована верзија која у себи садржи неопходан софтвер.</h4>
<h1 id="-">Покретање апликације</h1>
<h2 id="-">Виндоус апликација</h2>
<p>Скините прекомпајловану апликацију доступну на <a href="https://github.com/procesaur/digiteks/releases">Гитхаб репозиторијуму софтвера</a> и покрените програм на вашем рачунару.</p>
<h2 id="-">Виндоус (командна линија, припремљено виртуелно окружење)</h2>
<ol>
<li><p>Преузмите апликацију у целости и сачувајте је на вашем рачунару.</p>
</li>
<li><p>Инсталирајте Пајтон интерпретер (препоручена верзија 3.12)</p>
</li>
<li><p>У командној линији подесите радно окружење на директоријум у којем је похрањен преузети софтвер</p>
<pre><code class="lang-console">cd .<span class="hljs-regexp">/direktorijum/</span>digiteks<span class="hljs-regexp">/softvera</span>
</code></pre>
</li>
<li><p>Покрените припремљено виртуелно окружење</p>
<pre><code class="lang-console">.<span class="hljs-symbol">\v</span>env<span class="hljs-symbol">\S</span>cripts<span class="hljs-symbol">\a</span>ctivate
</code></pre>
</li>
<li><p>Покрените апликацију</p>
<pre><code class="lang-console"><span class="hljs-keyword">python</span> main.<span class="hljs-keyword">py</span>
</code></pre>
</li>
</ol>
<h2 id="-">Виндоус (командна линија, ваше Пајтон окружење)</h2>
<ol>
<li><p>Преузмите апликацију у целости и сачувајте је на вашем рачунару.</p>
</li>
<li><p>Инсталирајте Пајтон интерпретер (препоручена верзија 3.12) </p>
</li>
<li><p>У командној линији подесите радно окружење на директоријум у којем је похрањен преузети софтвер</p>
<pre><code class="lang-console">cd .<span class="hljs-regexp">/direktorijum/</span>digiteks<span class="hljs-regexp">/softvera</span>
</code></pre>
</li>
<li><p>Инсталиратје неопходне Пајтон пакете</p>
<pre><code class="lang-console">pip <span class="hljs-keyword">install</span> -r requirements.txt
</code></pre>
</li>
<li><p>Преузмите инсталацију пакета <em>tesserocr</em> за вашу верзију Пајтон интерпретера на <a href="https://github.com/simonflueckiger/tesserocr-windows_build/releases">овој адреси</a></p>
</li>
<li><p>Инсталирајте преузети пакет (<em>tesserocr</em>) </p>
<pre><code class="lang-console">pip install <span class="hljs-tag">&lt;<span class="hljs-name">путања</span>/преузетог/пакета/име&gt;</span>.whl
</code></pre>
</li>
<li><p>Покрените апликацију</p>
<pre><code class="lang-console"><span class="hljs-keyword">python</span> main.<span class="hljs-keyword">py</span>
</code></pre>
</li>
</ol>
<h2 id="linux-">Linux (командна линија, ваше Пајтон окружење)</h2>
<ol>
<li><p>Преузмите апликацију у целости и сачувајте је на вашем рачунару.</p>
</li>
<li><p>Инсталирајте Пајтон интерпретер (препоручена верзија 3.12) </p>
</li>
<li><p>У командној линији подесите радно окружење на директоријум у којем је похрањен преузети софтвер</p>
<pre><code class="lang-console">cd .<span class="hljs-regexp">/direktorijum/</span>digiteks<span class="hljs-regexp">/softvera</span>
</code></pre>
</li>
<li><p>Инсталиратје неопходне Пајтон пакете</p>
<pre><code class="lang-console">pip <span class="hljs-keyword">install</span> -r requirements.txt
</code></pre>
</li>
<li><p>Инсталирајте <em>Tesseract</em></p>
<pre><code class="lang-console">apt-<span class="hljs-built_in">get</span> install tesseract-ocr libtesseract-<span class="hljs-built_in">dev</span> libleptonica-<span class="hljs-built_in">dev</span> pkg-config
</code></pre>
</li>
<li><p>Инсталирајте <em>Poppler</em></p>
<pre><code class="lang-console">apt-<span class="hljs-keyword">get</span> install -y poppler-utils
</code></pre>
</li>
<li><p>Инсталирајте пакет (<em>tesserocr</em>) </p>
<pre><code class="lang-console">pip <span class="hljs-keyword">install</span> pip <span class="hljs-keyword">install</span> tesserocr
</code></pre>
</li>
<li><p>Покрените апликацију</p>
<pre><code class="lang-console"><span class="hljs-keyword">python</span> main.<span class="hljs-keyword">py</span>
</code></pre>
</li>
</ol>
<h2 id="_apache_-_linux_-"><em>apache</em> веб апликација (<em>Linux</em> пример)</h2>
<ol>
<li><p>Преузмите апликацију у целости и сачувајте је на вашем рачунару (нпр. у директоријуму <em>var/www/digiteks</em>).</p>
</li>
<li><p>Инсталирајте Пајтон интерпретер (препоручена верзија 3.12) </p>
</li>
<li><p>У командној линији подесите радно окружење на директоријум у којем је похрањен преузети софтвер</p>
<pre><code class="lang-console">cd .<span class="hljs-regexp">/direktorijum/</span>digiteks<span class="hljs-regexp">/softvera</span>
</code></pre>
</li>
<li><p>Инсталиратје неопходне Пајтон пакете</p>
<pre><code class="lang-console">pip <span class="hljs-keyword">install</span> -r requirements.txt
</code></pre>
</li>
<li><p>Инсталирајте <em>Tesseract</em></p>
<pre><code class="lang-console">apt-<span class="hljs-built_in">get</span> install tesseract-ocr libtesseract-<span class="hljs-built_in">dev</span> libleptonica-<span class="hljs-built_in">dev</span> pkg-config
</code></pre>
</li>
<li><p>Инсталирајте <em>Poppler</em></p>
<pre><code class="lang-console">apt-<span class="hljs-keyword">get</span> install -y poppler-utils
</code></pre>
</li>
<li><p>Инсталирајте пакет (<em>tesserocr</em>) </p>
<pre><code class="lang-console">pip <span class="hljs-keyword">install</span> pip <span class="hljs-keyword">install</span> tesserocr
</code></pre>
</li>
<li><p>Инсталација и подешавање <em>apache</em> веб сервера</p>
</li>
</ol>
<pre><code class="lang-console">sudo apt <span class="hljs-keyword">install</span> apache2
apache2 -v
sudo apt-<span class="hljs-keyword">get</span> <span class="hljs-keyword">install</span> libapache2-<span class="hljs-keyword">mod</span>-wsgi-py3
sudo a2enmod rewrite
sudo a2enmod wsgi
sudo nano /etc/apache2/sites-available/digiteks.conf
</code></pre>
<p>У конфигурациону датотеку упишите:</p>
<pre><code class="lang-apache"><span class="hljs-section">&lt;Directory /var/www/digiteks&gt;</span>
<span class="hljs-attribute"><span class="hljs-nomarkup">Options</span></span> Indexes FollowSymLinks
<span class="hljs-attribute">AllowOverride</span> <span class="hljs-literal">All</span>
<span class="hljs-attribute">Require</span> <span class="hljs-literal">all</span> granted
<span class="hljs-section">&lt;/Directory&gt;</span>
</code></pre>
<p>sudo nano /etc/apache2/ports.conf</p>
<pre><code class="lang-apache"><span class="hljs-attribute"><span class="hljs-nomarkup">Listen</span></span> 5001
</code></pre>
<p>Урадите неопходни рестарт сервиса</p>
<pre><code class="lang-console">sudo service apache2 <span class="hljs-built_in">restart</span>
</code></pre>
<p>и апликација ће бити покренута и доступна на порту 5001</p>
<h1 id="-">Предстојећи кораци:</h1>
<ol>
<li><p>Припремање прекомпајловане апликације за <em>Linux</em> оперативне системе;</p>
</li>
<li><p>Припрема детаљнијег упутства за употребу;</p>
</li>
<li><p>Имплементација адекватних језичких модела путем библиотеке <em>трансформерс</em>.</p>
</li>
</ol>
<h1 id="-">Напомене</h1>
<h4 id="-">Развој апликације, у сарадњи са <em>ЈП Службени Гласник</em>, омогућио је програм <em>Говтех</em>, који финансира <em>Фонд за иновациону делатност Републике Србије</em>.</h4>
<h4 id="-e-markdown-">*Функционланости још увек нису имплементиране.e markdown.</h4>

</div>
</body>
</html>