<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='main.css') }}">
   
</head>
<body draggable="false">

    <div class="helpmain main" id="full_hocr" draggable="false">
        <form method=post>
            <textarea name="text">{{input|safe}}</textarea>
            <br/>
            <button type="submit">Процесирај</button>
        </form>
        <div>
            {{output|safe}}
        </div>
    </div>
</body>
</html>